
.title {
    text-align: center;
    color: #212ea0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title p{
    
color: #212ea0;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
       
}

.title h2 {
    font-size: 32px;
    color: #000f38;
    margin-top: 5px;
    
    }
.programs {
    padding-left: 10%;
    padding-right: 10%;
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.program {
    flex-basis: 31%;
     position: relative;
}

.program img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000f984d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: .4s;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}